.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: auto;
}

#wrapper {
    display: flex;
    overflow: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 237, 223);
    height: 100%;
}

.side-components {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#font-size-container {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 380px;
}

.font-size {
    text-decoration: none;
    text-align: center;
    border: none;
    padding: 5px;
    background-color: #cfcb9c;
    border-radius: 7px;
    width: 40px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    box-shadow: 0 1.8px 1.2px rgba(0, 0, 0, 0.096), 0 5.7px 4.3px rgba(0, 0, 0, 0.103), 0 8.5px 7px rgba(0, 0, 0, 0.11);
    color: rgb(94, 94, 94);
    transition: color 0.5s linear;
    -webkit-transition: color 0.2s linear;
}

.font-size:hover {
    color: black;
    cursor: pointer;
    background: #cea261;
    transition-property: background-color;
    transition-duration: 0.2s;
}

.play-area {
    margin: 0% 1% 0% 1%;
    outline: none;
}

.button {
    text-decoration: none;
    margin: 20px 10px;
    text-align: center;
    border: none;
    padding: 10px;
    background-color: #d3b1a7;
    border-radius: 7px;
    width: 130px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    box-shadow: 0 1.8px 1.2px rgba(0, 0, 0, 0.096), 0 5.7px 4.3px rgba(0, 0, 0, 0.103), 0 8.5px 7px rgba(0, 0, 0, 0.11);
    color: rgb(94, 94, 94);
    transition: color 0.5s linear;
    -webkit-transition: color 0.2s linear;
}

.button:hover {
    color: black;
    cursor: pointer;
    background: #cb654f;
    transition-property: background-color;
    transition-duration: 0.2s;
}

#letter-holder {
    margin-top: 0.6%;
    margin-bottom: 0.6%;
}

img {
    margin-top: 6%;
}

//#game-buttons-container{
//    display: flex;
//    justify-content: space-between;
//    width: 320px;
//}

#draggable-canvas{
    position:absolute;
}

.easel-button {
    margin: 20px 10px;
    text-decoration: none;
    text-align: center;
    border: none;
    padding: 10px;
    background-color: #a5c2b2;
    border-radius: 7px;
    width: 130px;
    height: 100%;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    box-shadow: 0 1.8px 1.2px rgba(0, 0, 0, 0.096), 0 5.7px 4.3px rgba(0, 0, 0, 0.103), 0 8.5px 7px rgba(0, 0, 0, 0.11);
    color: rgb(94, 94, 94);
}
.easel-button:disabled,
.easel-button[disabled] {
    margin: 20px 10px;
    text-decoration: none;
    text-align: center;
    border: none;
    padding: 10px;
    background-color: #a5c2b2;
    border-radius: 7px;
    width: 130px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    box-shadow: 0 1.8px 1.2px rgba(0, 0, 0, 0.096), 0 5.7px 4.3px rgba(0, 0, 0, 0.103), 0 8.5px 7px rgba(0, 0, 0, 0.11);
    color: rgb(94, 94, 94);
}

.easel-button:hover:enabled {
    color: black;
    cursor: pointer;
    background: #8cbea3;
    transition-property: background-color;
    transition-duration: 0.2s;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-content: center;
    //width: 100%;
}

.buttons{
    margin-top: 30px;
}

.game-board {
    display: flex;
    flex-direction: column;
    align-content: center;
}
