<div class="profile-page-content">
    <div class="profile-settings">
        <div class="input-container">
            <p class="text-container">Mot de passe:</p>
            <input class="input" id="player-name" placeholder="Entrer le mot de passe de la salle" #password required />
        </div>
        <div class="modify-profile-button">
            <button class="button red" (click)="closeDialog()">{{this.languageService.language.cancelButton}}</button>
            <button class="button green" (click)="enterPassword(password.value)">{{this.languageService.language.continueButton}}</button>
        </div>
    </div>
</div>
