.input-container {
    display: flex;
    margin-bottom: 2.5vh;
    justify-content: space-between;
}
.input {
    display: flex;
    width: 270px;
    padding: 7px;
    border-radius: 7px;
    border: 1px solid rgb(94, 94, 94);
}

input.input-container {
    align-items: right;
}

.modify-profile-button{
    width: 100%;
    flex-direction: row !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.red {
    margin-right: 1vh;
}